@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Save your first penny by creating an automated flow.</p>
    <a asp-controller="BankProvider" asp-action="AddBank" class="btn-info" id="btn-create-flow">Create a Flow</a>
</div>

@section Scripts{
    <script type="text/javascript">
        
    </script>
}